.container {
  max-width: 1170px;
  margin: 0 auto;
  height: 100%;
}
html, body, #root {
  height: 100%;
}

.form-wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}